.panel {
  background: var(--gray-5);

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > div {
    border-right: 1px solid var(--smooth-border);
    padding: var(--unit);
    display: flex;

    .number {
      margin-left: auto;
      align-self: end;
      font-size: 3em;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .data-type {
        font-size: 0.5em;
        color: var(--text-color-3);
        margin-top: -12px;
      }
    }
  }

  h2 {
    color: var(--text-color-2);
    font-size: 1.3em;
    margin: 0;
    padding: 0;
  }
}
