@import 'semantic-ui-css/semantic.min.css';

.ui.ribbon.label:after{
  display: none;
}

.clearing:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ui.progress.general{
  margin: 1em 0 0em;
}